.keyword_input_text{
	margin: 10px auto;
}
.keyword_input{
	text-align: center;
	margin: 10px auto;
}
.recipi_list{
	max-width: 400px;
	text-align: center;
	margin: auto;
}
.title-img{
	width:70vw;
	height:50vw;
}
.list-group-item-action{
	color: blue;
}
.table{
	width:50%;
	text-align: center;
	line-height: 50px;
}

.table tr:nth-child(1){
	height: 10px;
}
.cookphoto{
	width:50px;
	height:50px;
}
.body{
	background-color: #ffffff;
}