.ingredient{
	width: 90%;
	margin: auto;
}
.ing_img{
	width: 10%;
	height: 10%;
}
img.float_img{
	margin-left: 5vw;
	float:left;
}
p.float_kaijo{
	clear:both;
}
.mgl-10{
	margin-left: 10px;
}
.ing_title{
	display: inline-block;
	line-height: 40px;
	width: 60%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; 
}
.more_select_btn{
	margin-left: 33%;
}
.ingredients{
	text-overflow: ellipsis; 
}
.float_right{
	float:right;
}
