h1{
	font-weight: bold;
	text-align: center;
}
li, p{
	text-align: center;
}
<<<<<<< HEAD
.keyword_input{
	text-align: center;
}
.recipi_list{
	max-width: 400px;
	text-align: center;
	margin: auto;
}
=======
>>>>>>> c78917c9539336e3f886c31e36578d53ae69492d
